{% extends "base.html" %}

{% from 'components/buttons.html' import primary_button %}

{% block title %} FitPulse | Goals {% endblock title %}

{% block body %}
<h1 class="text-center text-3xl font-bold mb-6 text-gray-800"> Goals </h1>

<div id="message" class="m-6"></div>

<!-- Input for setting calorie goals -->
<div class="text-center m-6">
    <input 
        type="number" 
        name="calories" 
        id="calories" 
        placeholder="Enter calories" 
        class="text-center py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-violet-500"
    >
</div>

<!-- Button to set goals -->
<div class="text-center mx-auto max-w-[183px]">
    {{ primary_button(
        text='Set goal',
        attrs={
            "hx-post":url_for('client.goals'),
            "hx-trigger": "click",
            "hx-include": "#calories",
            "hx-target": "#message",
            "hx-swap": "innerHTML"
        },
        classes='w-full py-2 px-4 text-white bg-blue-600 hover:bg-blue-700 rounded-lg transition cursor-pointer'
    ) }}
</div>

<!-- Section to display user achievements -->
<div class="lg:col-span-1 mt-10">
    <!-- Section for User Achievements -->
    <div class="bg-white shadow rounded-lg p-6">
        <h3 class="text-2xl font-bold text-indigo-600 mb-4">Your Achievements</h3>
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white border border-gray-300 rounded-lg shadow-md">
                <thead class="bg-indigo-600 text-white">
                    <tr>
                        <th class="py-2 px-4 text-left">Title</th>
                        <th class="py-2 px-4 text-left">Description</th>
                        <th class="py-2 px-4 text-left">Points</th>
                        <th class="py-2 px-4 text-left">Level</th>
                    </tr>
                </thead>
                <tbody>
                    {% for achievement in achievements %}
                        <tr class="border-b border-gray-200">
                            <td class="py-2 px-4 text-blue-600 font-semibold">{{ achievement.title }}</td>
                            <td class="py-2 px-4">{{ achievement.description }}</td>
                            <td class="py-2 px-4">{{ achievement.points }}</td>
                            <td class="py-2 px-4">{{ achievement.level }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4" class="text-center py-2 px-4 text-gray-600">No achievements yet. Keep pushing towards your goals!</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock body %}
